.navbar{
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(77, 75, 75);
    opacity: 0.6;
}
#home h1{
    font-size: 40px;
}
#home h2{
    font-size: 26px;
}
#home h3{
    font-size: 16px;
}
input[type=search]{
    width: 300px;
    height: 26px;
}
#btn{
    height: 24px;
    padding: 6px;
}
.container::before{
    height: 690px;
}
.box img{
    width: 70px;
    height: 90px;
}
#services{
    flex-wrap: wrap;
    
}
